body{
    margin: 0;
    padding: 0;
    color: #444;
}
.bg-primary {
    background: linear-gradient(90deg, #000000, rgb(0, 0, 0)) !important
}
#littleLogo{
    height: 40px;
    margin-right: 10px;
}
/* styling for about me page  */
.aboutImg{
    width: 50px;
    border-radius: 25px;
}

.sectionLayout{
    margin-right: 2px;
    height: 400px;
    width: 500px;
    background-color: white;
    box-shadow: 0 10px 30px rgb(196, 189, 189);
    display:flex;
}

.content{
    width: calc(50% - 50px);
    height: 100%;
    background-color: white;
    padding: 2% 5%;
    line-height: 1.5em;
    font-size: 10px;
    text-align: justify;
}
.imagebox{
    width: calc(50% + 50px);
    height: 100%;
    background-color: rgb(224, 143, 119);
    border-left: 100px solid white;
    border-bottom: 400px solid transparent;
}
.section2{
    display: flex;
}

.carousel{
    outline: grey;
    text-align: center;
}

#demo{
    text-align: center;
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  background-color: rgb(244, 245, 244);
    box-shadow: 0 10px 30px rgb(170, 214, 169);
    margin-bottom: 40px;
}

.linkName{
    background-color: rgba(202, 183, 183, 0.288);
    box-shadow: 0 10px 30px rgb(223, 233, 223);
    font-weight: 600;
}

