.bg-primary {
    background: linear-gradient(90deg, #440c1a, grey) !important
}

.my-icon {
    font-size: 80px !important;
    color: #440c1a;
}

.service-container {
    border: .5px solid #440c1a;
    padding: 25px;
    cursor: pointer;
    transition: 200ms all ease-in-out;
}

.service-container:hover {
    background: black;
    color: white;
    border-radius: 20px;
}

.collection :hover {
    background-color: #440c1a !important;
    color: white;
    cursor: pointer;
}

.collection-item {
    color: black;
    cursor: pointer;
}

.glow {
    font-size: 20px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}