.bg-primary {
    background: linear-gradient(90deg, #000000, rgb(0, 0, 0)) !important
}
.bg-primary2 {
    background: linear-gradient(90deg, #ec0505, rgb(243, 3, 3), rgb(248, 7, 7)) !important
}
.my-icon {
    font-size: 80px !important;
    color: #c04564;
}

.imageText1{
    color: rgb(244, 245, 244);
    margin-top: 75px;
    background-color: black;
    margin-bottom: 0;
    
}
.firstPageText{
    margin-top: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
.service-container {
    border: .5px solid #440c1a;
    padding: 25px;
    cursor: pointer;
    transition: 200ms all ease-in-out;
}

.service-container:hover {
    background: black;
    color: white;
    border-radius: 20px;
}

.collection :hover {
    background-color: #440c1a !important;
    color: white;
    cursor: pointer;
}

.collection-item {
    color: black;
    cursor: pointer;
}
#textarea1{
    background-color: white;
}

#littleLogo{
    height: 40px;
    margin-right: 10px;
}
.letterN{
    height: 70px;
}
.firsttOutline{
    margin-top: 30px;
    border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to top,rgb(123, 255, 0), rgb(238, 0, 32), rgba(153, 76, 130)) 1 100%;
}
/* personal library logo  */
.personalLibrary{
    height: 50px;
    margin-top: 20px;
    margin-bottom: 0;

}
.sharedButton{
    margin-top: 20px;
    background-color: red;
}
.sharedExplain{
    font-size: 30px;
}
.shareWelcome{
    font-size: 100px;
    color: white;
    font-weight: 700;
    background-color: rgb(7, 5, 2);
    margin-top: 0;
}
#book{
    background-color: rgb(255, 255, 255);
    outline: 1px solid black;
}
#text{
    font-weight: 800;
    color: crimson;
    
   
}


/* __________________________________________________ */
/* section with the read list information */
.book {
    font-family: Barlow, Helvetica, Arial, sans-serif;
   
}
.book__container {
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.book-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
    padding: 20px;
    margin-top: -50px;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.book-details__left {
    margin-right: 25px;
}
.book-details__right {
    flex-grow: 1;
}
.book-details__title {
    color: #111;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    margin: 0 0 12px 0;
}
.readListSesction{
  
}
.readAuthor {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.book-details__author {
    color: #4e4e4e;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0px 18px;
}
.readTitle {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


